html {
   font-size: 1.05vw;
}

@media screen and (max-width: 479px) {
   html {
      font-size: 16px;
   }
}

html.lenis,
html.lenis body {
   height: auto;
}

.lenis.lenis-smooth {
   scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
   overscroll-behavior: contain;
}

.lenis.lenis-stopped {
   overflow: hidden;
}

.lenis.lenis-scrolling iframe {
   pointer-events: none;
}


.split-mask-line-mask {
   display: block;
   overflow: hidden !important;
}

.split-line {
   display: block;
}

.split-char,
.split-word {
   display: inline-block;
}

.hero-heading {
   word-break: normal;
   overflow-wrap: normal;
}


.navigation_link.w--current {
   display: inline-block;
   border-bottom: 0.1875rem solid var(--color--primary);
}